.Home5 {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Home5 > div:nth-child(1) {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    margin-bottom: 50px;
}
.Home5 > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.Home5 > div:nth-child(2) > div:nth-child(1) {
    position: relative;
    width: 335px;
    height: 325px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Home5 > div:nth-child(2) > div:nth-child(1) > div {
    position: relative;
    width: 335px;
    height: 70px;

    border-radius: 10px;
    border: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent);
}
.Home5 > div:nth-child(2) > div:nth-child(2) {
    position: relative;
    width: 600px;
    height: 325px;

    padding: 20px;

    border-radius: 10px;
    border: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent);
}
.Home5 > div:nth-child(2) > div:nth-child(3){
    position: relative;
    width: 335px;
    height: 325px;

    border-radius: 10px;
    border: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent);
}