.home {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.home > img {
    position: absolute;
    top: -50px;
    width: 1300px;
    height: auto;
}
.home > div:nth-child(3) {
    position: relative;
    top: -650px;
    width: 1300px;
    height: 200px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

    pointer-events: none;
}
.home > div:nth-child(4) {
    position: relative;
    top: -650px;
    width: 1300px;
    height: 450px;

    background-color: var(--LM-background-color);
}
.home > div:nth-child(5) {
    position: relative;
    top: -650px;
    width: 1300px;
    height: 450px;

    
}
/* 미루기 */
/* .home > div:nth-child(6) {
    position: absolute;
    top: -1650px;
    width: 100vw;
    height: 450px;

    background-color: color-mix(in srgb, var(--LM-main-color) 10%, transparent);
} */
.home > div:nth-child(6) {
    position: relative;
    top: -600px;
    width: 1300px;
    height: 450px;
}
.home > div:nth-child(7) {
    position: relative;
    top: -650px;
    width: 1300px;
    height: 850px;
}
