.makePlan {
    position: relative;
    height: fit-content;
    width: 1300px;
    
    left: 50%;
    transform: translate(-50%, 0);
}


.pageButton > div:hover {
    cursor: pointer;
}
.pageButton > div:nth-child(2) {
    margin-left: auto;
}
.pageButton > div > p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    height: fit-content;

    margin-left: 10px;
    margin-right: 10px;
    color: var(--LM-line-color);
}
.makePlan > div:nth-child(1) {
    position: relative;
    width: 1300px;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 0px;
}
.makePlan > div > div:nth-child(2) {
    position: absolute;
    top: 200px;
    padding: 30px;

    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    background-color: var(--LM-background-color);
}

@media (min-width: 1300px) {
    .pageButton {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        width: 1000px;

        margin-top: 100px;
        
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1300px) {
    .makePlan > div > div:nth-child(2) {
        display: none;
    }
    .makePlan > div > div:nth-child(1) > img,
    .makePlan > div > div:nth-child(1) {
        height: 200px !important;
    }
    .pageButton {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        width: 1000px;

        margin-top:100px;
        
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 1000px) {
    .pageButton {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        width: calc(100vw - 30px);
        
        margin-right: 15px;

        margin-top:100px;
        
        display: flex;
        flex-direction: row;
    }
}