.MP1 {
    position: relative;
    width: 1000px;
    height: fit-content;

    margin-top: 100px;
}
.MP1 > p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
}
.MP1 > p:nth-child(2) {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;

    color: var(--LM-subtext-color);
}
.MP1 > div:nth-child(3) {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    width: fit-content;

    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 50px;
}
.MP1 > div:nth-child(3) > div {
    position: relative;
    width: fit-content;
    height: fit-content;
}
.MP1 > div:nth-child(3) > div > div:nth-child(1) {
    position: relative;
    height: fit-content;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    gap: 5px;
}
.MP1 > div:nth-child(3) > div > div:nth-child(1) > p {
    position: relative;
    top: 2px;

    height: fit-content ;
}
.MP1 > div:nth-child(3) > div > div:nth-child(2) {
    position: relative;
    height: 50px;
    width: 450px;

    border-radius: 5px;
    border: 1px solid color-mix(in srgb, var(--LM-line-color) 60%, var(--LM-background-color) 40%)
}
.react-datepicker {
    width: 450px;
    height: 450px;

    font-family: 'A2z';
    font-size: 1.3rem;
    
}
.react-datepicker__month-container {
    width: 100%;
    height: 100%;
}




.react-datepicker__day--in-range {
    background-color: color-mix(in srgb, #34C759 20%, transparent) !important;
    color: var(--LM-mainouttext-color) !important;
    border-radius: 0 !important;
}

.react-datepicker__day--in-selecting-range {
    background-color: color-mix(in srgb, var(--LM-main-color) 10%, transparent) !important;
    color: black;
}

.react-datepicker__day--range-start {
    background-color: #34C759 !important;
    color: white !important;
    border-radius: 5px !important;
}

.react-datepicker__day--range-end {
    background-color: #34C759 !important;
    color: white !important;
    border-radius: 5px !important;
}

.react-datepicker__day--selecting-range-start {
    background-color: #34C759 !important;
    color: white !important;
}

.react-datepicker__day--selecting-range-end {
    background-color: #34C759 !important;
    color: white !important;
}