.MP2 {
    position: relative;
    width: 1000px;
    height: fit-content;

    margin-top: 100px;
}
.MP2 > div:nth-child(2) {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 100px;
}
.MP2 > div:nth-child(2) > div > div:nth-child(1) {
    display: flex;
    flex-direction: row;
}
.MP2 > div:nth-child(2) > div > div:nth-child(1) > p {
    margin-left: 10px;
    margin-top: 3px;
}
.MP2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    width: 450px;
    height: fit-content;

    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
}
.MP2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div {
    position: relative;
    width: 90px;
    height: 30px;

    border: 1px solid var(--LM-line-color);
    border-radius: 10px;
}
.MP2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:hover {
    cursor: pointer;
}
.MP2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 14px;

    height: fit-content;
    width: fit-content;

}
.MP2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
    position: relative;
    width: 450px;
    height: 450px;

    margin-top: 50px;
}

.MP2 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    height: 600px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    overflow-y: scroll;
}
.selectDay {
    position: relative;
    height: 60px;
    width: 450px;

    border: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent);
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    flex-shrink: 0; 
}
.selectDay:hover {
    cursor: pointer;
}
.selectDay > div:nth-child(1) {
    position: relative;
    top: 13px;
    left: 13px;

    width: 34px;
    height: 34px;

    border-radius: 17px;
    background-color: color-mix(in srgb, var(--LM-line-color) 20%, transparent);
}
.selectDay > div:nth-child(1) > p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    height: fit-content;

    font-size: 14px;
    font-weight: 400;
}
.selectDay > div:nth-child(2) {
    margin-left: 30px;
    margin-top: 12px;
}
.selectDay > div:nth-child(2) > p:nth-child(1) {
    font-size: 12px;
    font-weight: 400;

    color: var(--LM-mainouttext-color);
}
.selectDay > div:nth-child(2) > p:nth-child(2) {
    margin-top: 4px;

    font-size: 14px;
    font-weight: 400px;

    color: var(--LM-subtext-color);
}
.selectDay > div:nth-child(3) {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    width: 24px;
    height: 24px;

    margin-right: 18px;
    margin-left: auto;

    cursor: pointer;
}