.MP3 > div:nth-child(2) > div > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.MP3 > div:nth-child(2) > div > div:nth-child(1) > p:nth-child(2) {
    margin-top: 3px;
}
.MP3 > div:nth-child(2) > div > div:nth-child(1) > p:nth-child(3) {
    margin-top: 7px;
    font-size: 12px;
    color: var(--LM-subtext-color);
}
.MP3 > div:nth-child(2) > div > div:nth-child(2) {
    margin-top: 20px;
}
.MP3 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    overflow-y: scroll;
    flex-shrink: 0; 
}
.MP3 > div:nth-child(2) > div:nth-child(2)> div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainTheme {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.mainTheme > div {
    display: flex;
    flex-direction: row;
}
.mainTheme > div,
.mainTheme > div > div {
    width: fit-content;
    height: fit-content;
}
.mainTheme > div > div:nth-child(1) {
    position: relative;
    width: 100px;
    height: 100px;
}
.mainTheme > div > div:nth-child(1) > img {
    position: absolute;
    border-radius: 50px;
}
.mainTheme > div > div:nth-child(1) > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 16px;
    font-weight: 400;

    width: fit-content;
    white-space: pre;

    color: var(--LM-mainintext-color); 
    z-index: 1;
}
.mainTheme > div > div:nth-child(1) > div {
    position: absolute;
    width: 100px;
    height: 100px;

    border-radius: 50%;

    background-color: #00000040;
}
.subTheme {
    position: relative;

    width: 60px;
    height: 100px;
}
.subTheme > img {
    position: absolute;
    width: 60px;
    height: 60px;

    border-radius: 50%;
}
.subTheme > p {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, 0);

    width: fit-content;

    margin-top: 10px;

    font-size: 14px;
    font-weight: 400;

    white-space: pre;
}
.checkTheme {
    position: absolute;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 1px solid var(--LM-main-color);
    background-color: color-mix(in srgb, var(--LM-main-color) 80%, transparent);
    box-shadow: 0px 0px 20px rgba(52, 199, 89, 0.25);
}
.checkTheme > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.selectedTheme {
    position: relative;
    height: 60px;

    display: flex;
    flex-direction: row;

    border-radius: 10px;
    border: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent);
}
.selectedTheme > img {
    position: relative;
    width: 34px;
    height: 34px;

    margin: 13px;
}
.selectedTheme > p:nth-child(2) {
    position: relative;
    top: 12px;

    font-size: 14px;
    font-weight: 400;
    
    color: var(--LM-mainouttext-color);
}
.selectedTheme > p:nth-child(3) {
    position: absolute;
    left: 60px;
    top: 34px;

    font-size: 12px;
    font-weight: 300;
    
    color: var(--LM-line-color);
}
.selectedTheme > div {
    position: relative;
    top: 18px;

    margin-left: auto;
    margin-right: 18px;
}
.selectedTheme > div:hover {
    cursor: pointer;
}
.notSelectedTheme {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    width: fit-content;
    height: fit-content;
}
.notSelectedTheme > svg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.notSelectedTheme > p {
    font-size: 14px;
    font-weight: 300;

    color: color-mix(in srgb, var(--LM-line-color) 70%, transparent)
}
.mainTheme > div > div:nth-child(2) {
    height: fit-content;
    display: grid;
    column-gap: 15px;


    margin-top: 13px;
    margin-left: 20px;
}
@media (min-width: 1300px) {
    .MP3 > div:nth-child(2) {

        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 100px;
    }
    .MP3 {
        position: relative;
        width: 1000px;
        height: fit-content;
        margin-top: 50px;
    }
    .mainTheme > div > div:nth-child(2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .selectedTheme {
        width: 450px;
    }
}
@media (max-width: 1300px) {
    .MP3 > div:nth-child(2) {

        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        column-gap: 100px;
    }
    .MP3 {
        position: relative;
        width: min(450px, calc(100vw - 30px));
        height: fit-content;
        margin-top: 50px;
    }
    .mainTheme > div > div:nth-child(2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .selectedTheme {
        width: min(450px, calc(100vw - 30px));
    }
}
@media (max-width: 450px) {
    .mainTheme > div > div:nth-child(2) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .selectedTheme {
        width: min(450px, calc(100vw - 30px));
    }
}
@media (max-width: 355px) {
    .mainTheme > div > div:nth-child(2) {
        grid-template-columns: 1fr 1fr;
    }
    .selectedTheme {
        width: min(450px, calc(100vw - 30px));
    }
}