.MyPage {
    position: relative;
    height: fit-content;
    width: 1300px;
    
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: row;

}
.MyPageheader > div:nth-child(1) {
    position: relative;
    width: fit-content;
    margin-top: auto;
    margin-right: auto;
}
.MyPageheader > div:nth-child(2) {
    position: relative;
    top: 45px;

    width: 325px;
    height: fit-content;

    display: flex;
    flex-direction: column;
}
.MyPageheader > div:nth-child(2) > p {
    position: relative;
    margin-left: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
    
    font-size: 14px;
    font-weight: 500;

    color: #767676;
}
.menu {
    position: relative;
    width: 220px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}
.menu > p {
    position: relative;
    top: 10px;
    left: 14px;

    height: 19px;

    font-size: 16px;
    font-weight: 500;
}
.menu > svg {
    z-index: 5;
    position: relative;
    top: 7px;
    left: 7px;
}
.Myon {
    background-color: #1DB443;
}
.Myon {
    color: #FFFFFF;
}
.Myoff > p {
    color: #6D6D6D;
}
.outlet {
    position: relative;
}
