.loginputGrid {
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 80px;
    row-gap: 40px;

    
    justify-items: center; 
}
.login > div:nth-child(1) {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
}