.noticeboard {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1300px;

}
.noticeboard > div:nth-child(3) {
    position: relative;
    width: fit-content;
    height: fit-content;

    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 27px;
    row-gap: 20px;
}
.searchbar {
    position: relative;
    width: 1000px;
    height: 70px;

    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--LM-background-color);
    border: 1px solid rgba(103, 103, 103, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: row;

    z-index: 9999;

}
.searchbar > div {
    position: relative;
    width: 333px;
    height: 34px;
    
    margin-top: 18px;
}
.searchbar > div:nth-child(1) {
    border-right: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent); 
}
.searchbar > div:nth-child(1) > svg {
    position: relative;
    margin-left: 23px;
    margin-top: 5px;
}
.searchbar > div:nth-child(1) > input {
    position: relative;
    top: -6px;

    margin-left: 10px;
    padding-left: 10px;
    border: 0px;
    border-bottom: 1px solid var(--LM-line-color);
    height: 34px;
}
.searchbar > div:nth-child(1) > input:focus {
    border-bottom: 2px solid #000;
    outline: none;
}
.searchbar > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 10px;

    border-right: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent); 

}
.searchbar > div:nth-child(2) > svg {
    position: relative;
    top: 5px;
    margin-left: 51px;
}
.searchbar > div:nth-child(2) > p {
    position: relative;
    top: 8px;

    font-size: 16px;
    font-weight: 600;
}
.searchbar > div:nth-child(3) > div:nth-child(2),
.searchbar > div:nth-child(3) > div:nth-child(3),
.searchbar > div:nth-child(2) > div:nth-child(3) {
    position: relative;

    width: 114px;
    height: 34px; 

    border: 1px solid var(--LM-mainouttext-color);
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    gap: 5px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--LM-background-color);
}
.searchbar > div:nth-child(3) > div:nth-child(2) > p,
.searchbar > div:nth-child(2) > div:nth-child(3) > p {
    position: relative;
    top: 7px;

    margin-left: 23px;

    font-size: 16px;
    font-weight: 500;
}
.searchbar > div:nth-child(3) > div:not(:last-child) > svg,
.searchbar > div:nth-child(2) > div:nth-child(3) > svg {
    position: relative;
    top: 3px;
}

.searchbar > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchbar > div:nth-child(3) > svg {
    position: relative;
    margin-top: 5px;
    margin-left: 31px;
}
.sortType > p {
    position: relative;
    height: fit-content; 
    width: fit-content;
    margin-left: 0px !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.Menu {
    position: absolute;
    height: fit-content;
    width: 114px;

    
    margin-top: 40px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid var(--BM-background-color);
    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
    background-color: var(--LM-background-color);
}
.Menu > div {
    position: relative;
    width: 70px;
    height: 20px;
}
.Menu > div:hover {
    cursor: pointer;
}
.Menu > div:not(:last-child) {
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px solid color-mix(in srgb, var(--LM-line-color) 70%, transparent);
}
.Menu > div > p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: fit-content;
    height: fit-content;
}
.MRegion {
    margin-left: 169px;
}
.MsortType {
    margin-left: 66px;
}