.header {
    width: 100vw;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 9900;
}
.header > div:nth-child(1) {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 70px;
    width: 1300px;

    display: flex;
    flex-direction: row;
    
}
.header > div:nth-child(1) > div:nth-child(1) {
    position: relative;
    left: 0px;

    display: flex;
    flex-direction: row;
}
.header > div:nth-child(1) > div:nth-child(1) > div {
    position: relative;
    height: 40px;
    width: 40px;

    margin-top: 15px;
    margin-right: 15px;

    border-radius: 10px;
    background-color: #1DB443;
}
.header > div:nth-child(1) > div:nth-child(1) > p {
    position: relative;
    height: 24px;
    top: 50%;
    transform: translate(0, -50%);

    font-size: 20px;
    font-weight: 600;
}
.header > div:nth-child(1) > div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    gap: 40px;
}
.header > div:nth-child(1) > div:nth-child(3) > div:hover {
    cursor: pointer;
}
.header > div:nth-child(1) > div:nth-child(2) > div > a > p {
    font-size: 16px;
    font-weight: 400;
}
.header > div:nth-child(1) > div:nth-child(3) {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    height: 19px;
    margin-left: auto;
    gap: 15px;
}
.header > div:nth-child(1) > div:nth-child(3),
.header > div:nth-child(1) > div:nth-child(3) > div,
.header > div:nth-child(1) > div:nth-child(3) > div > div {
    display: flex;
    flex-direction: row;
}
.header > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
    gap: 15px;
}
.header > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div > p {
    position: relative;
    top: 1px;
    margin-left: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #6D6D6D;
}
.state_logout > a > p {
    font-size: 16px;
    font-weight: 400;

    color: #6D6D6D;
}
.state_logout > div {
    position: relative;
    top: 1px;
    height : 19px;
    width: 2px;

    margin-left: 8px;
    margin-right: 8px;
    background-color: #6D6D6D90;
}
.state_login > p {
    font-size: 16px;
    font-weight: 400;

    color: #6D6D6D;
}

.mobileHeader {
    display: none;
}




@media (max-width: 1600px) {
    .header > div:nth-child(1) {
        display: none;
    }

    .mobileHeader {
        display: flex;
    }

    .mobileHeader {
        width: 100%;
        height: 50px;
        background-color: var(--LM-background-color);
    }
    
    .HeaderMenu {
        position: absolute;
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: row;
        z-index: 999;
    }
    .HeaderMenu > div:nth-child(1) {
        width: 25%;
        height: 100%;
        background-color: color-mix(in srgb, var(--BM-background-color) 50%, transparent);
    }
    .HeaderMenu > div:nth-child(2) {
        width: 75%;
        height: 100%;
        background-color: var(--LM-background-color);
    }
    .HeaderTitle {
        display: flex;
        flex-direction: row;
    }
    .HeaderTitle > div {
        position: relative;

        margin-top: 10px;
        margin-left: 15px;

        width: 30px;
        height: 30px;

        border-radius: 10px;
        background-color: var(--LM-main-color);
    }
    .HeaderTitle > p {
        position: relative;

        margin-top: 14px;
        margin-left: 5px;

        font-size: 18px;
        font-weight: 600;
    }
    .HeaderMenuIcon {
        margin-top: 14px;
        margin-left: auto;
        margin-right: 15px;
    }
    .state_logout {
        display: flex;
        flex-direction: row;
    }
    .HeaderMenuRight > div:nth-child(1) {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;

        

    }
    .HeaderMenuRight > div:nth-child(1) > div {
        position: relative;
        margin-top: 25px;
    }
    .HeaderMenuRight > div:nth-child(1) > div:nth-child(1) {
        margin-left: 15px;
    }
    .HeaderMenuRight > div:nth-child(1) > div:nth-child(2) {
        margin-left: 15px;
        margin-top: 38px;
    }
    .HeaderMenuRight > div:nth-child(1) > div:nth-child(3) {
        margin-left: auto;
        margin-right: 15px;
        margin-top: 38px;
    }
    .HeaderMenuRight > div:nth-child(2) {
        position: relative;
        width: calc(100% - 30px);
        height: 1px;
        left: 15px;

        background-color: var(--LM-line-color);
    }
    .HeaderMenuRight > div:nth-child(3) {
        margin-top: 15px;
    }
    .HeaderMenuRight > div:nth-child(n + 3) {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 15px;

        margin-left: 15px;
    }
    .HeaderMenuRight > div:nth-child(n + 3) > a {
        position: relative;
        margin-top: 4px;
    }
}