.myinfo {
    position: relative;
    width: 964px;
    height: 700px;

}
.myinfo > div:nth-child(2) {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    top: 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 50px;
}

