.header {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.signup > div:nth-child(2) {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);

}
.signinputGrid {
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
}
.signButton {
    position: absolute;
    top: 860px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 520px;
    height: 70px;

    border-radius: 15px;
    border: 1px solid #6D6D6D;
    background-color: #1DB443;
}
.signButton:hover {
    cursor: pointer;
}
.signButton > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 500;

    color: white;
}